.list{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2rem;
    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius:50%;
        text-decoration: none;
       
        background: linear-gradient(35deg, #494949, #313131);
        height: 6rem;
        width: 6rem;
        cursor: pointer;
        &:visited{
            color: black;
        }
        h4{
            color:white;
            font-size: 0.8rem;
        }
        svg{
            color: white;
            font-size: 1.5rem;
        }
        &.active{
            background: linear-gradient(to right,#f27121, #e94057);
            svg{
                color:white
            }
            h4{
                color: white;
            }
        }
    }
    
}
.containeris{
    text-align: center;
}
